body {
    background-color: #5d26c1;
    background-image: linear-gradient(90deg, #005aa7, #fffde4);
    margin: 0px;
}

.head {
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    text-decoration: solid;
    text-shadow: 8px 8px 8px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
    border-style: solid;
    background-image: url("../img/money.jpg");
}

.menu {
    height: 70px;
    position: sticky;
    top: 0;
    background-color: black;
    box-shadow: 2px 2px 20px black;
}

.loan {
    background-image: url("../img/loan.jpg");
    background-repeat: no-repeat;
}

.loan table {
    border-radius: 12px;
    box-shadow: 10px 10px 10px black;
}

.loan button {
    background-color: rgb(91, 161, 218);
    height: 40px;
    width: 500px;
    border-radius: 12px;
}

.loan button:hover {
    background-color: rgb(35, 156, 236);
    color: beige;
    height: 40px;
    width: 500px;
    border-radius: 12px;
}

.loan input[type="text"] {
    font-size: larger;
    width: 420px;
    height: 50px;
    border-radius: 12px;
    background-color: rgb(216, 230, 230);
    color: #2e2a2a;
}

#loan {
    font-size: larger;
    width: 420px;
    height: 50px;
    border-radius: 12px;
    background-color: rgb(216, 230, 230);
    color: #2e2a2a;
}

.loan td:nth-child(odd) {
    padding-left: 280px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

a:link,
a:visited {
    width: 50px;
    height: 20px;
    font-size: 25px;
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px 20px black;
}

a:hover,
a:active {
    color: rgb(15, 4, 4);
    background-color: rgb(255, 250, 250);
}