body {
    margin: 0;
    padding: 0;
}


.left{
    width: 50%;
    height:543px;
    float: left;
    position: relative;
    background-color: black;
}
.right{
    width: 50%;
    height:543px;
    float: right;
    position: relative;
    background-color: rgb(221, 221, 221);
    background-image: linear-gradient(-90deg, rgb(247, 233, 233), rgb(163, 162, 162));
}

.menu a:link,
a:visited {
    width: 50px;
    height: 20px;
    font-size: 25px;
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px 20px black;
}

.menu a:hover,
a:active {
    color: rgb(15, 4, 4);
    background-color: rgb(255, 250, 250);
}

.menu {
    height: 70px;
    position: sticky;
    top: 0;
    font-size: larger;
    background-color: black;
    box-shadow: 2px 2px 20px black;
}

.box{
    width: 600px;
    height: 450px;
    text-align: center;  
    box-shadow: 2px 2px 20px black;
    border-radius: 10px; 
    transition: transform .3s;
    color: rgb(11, 17, 26);
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(180deg, #f6ecfa,#000000);

    
}

.box input[type="text"]{
    font-size: x-large;
}

label{
    font-size: x-large;
}

.box input[type="password"]{
    font-size: x-large;
}

input[type="submit"]{
    text-align: center;
    font-size: xx-large;
    background-color: #3672f4;
    border-radius: 12px;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;    
}


.box a {
    text-align: center;
    font-size: xx-large;
    background-color: #3672f4;
    border-radius: 12px;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}
.box a:hover {
    text-align: center;
    font-size: xx-large;
    background-color: #0050fd;
    border-radius: 12px;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}