body {
    margin: 0;
}
.wllt{
background-image: url("../img/colour-stripe-background.jpg");        }
    
    .wllt table{
        box-shadow: 4px 4px 4px 4px black; 
                       
    }
    .wllt td:hover{
        transition: transform .3s;
        transform: scale(1.4);
    }
.head {
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    text-decoration: solid;
    text-shadow: 8px 8px 8px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
    border-style: solid;
    background-image: url("../img/money.jpg");
}

.menu {
    height: 70px;
    position: sticky;
    top: 0;
    background-color: black;
    box-shadow: 2px 2px 20px black;
}

a:link,
a:visited {
    width: 50px;
    height: 20px;
    font-size: 25px;
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px 20px black;
}

a:hover,
a:active {
    color: rgb(15, 4, 4);
    background-color: rgb(255, 250, 250);
}